<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selfjoins</title>
</head>
<body>
    <center>
        <h1 style="color:purple;">SELFJOINS</h1>
        <table border="2px" cellpadding="5px" cellspacing="0px">
            <tr>
                <th>Ename</th>
                <th>Empno</th>
                <th>JOB</th>
                <th>HIREDATE</th>
                <th>SAL</th>
                <th>COMM</th>
                <th>Deptno</th>
                <th>Mgrname</th>
                <th>MgrEmpno</th>
                <th>MgrJob</th>
                <th>MgrHiredate</th>
                <th>Mgrsal</th>
                <th>Mgrcomm</th>
                <th>Mgrdeptno</th>
            </tr>
            {% for emo in EMPMGROBJECTS %}
                <tr>
                    <td>{{emo.Ename}}</td>
                    <td>{{emo.Empno}}</td>
                    <td>{{emo.job}}</td>
                    <td>{{emo.hiredate}}</td>
                    <td>{{emo.sal}}</td>
                    <td>{{emo.comm}}</td>
                    <td>{{emo.deptno}}</td>
                    <td>{{emo.mgr.Ename}}</td>
                    <td>{{emo.mgr.Empno}}</td>
                    <td>{{emo.mgr.job}}</td>
                    <td>{{emo.mgr.hiredate}}</td>
                    <td>{{emo.mgr.sal}}</td>
                    <td>{{emo.mgr.Comm}}</td>
                    <td>{{emo.mgr.deptno}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>